<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <%- include('./partials/cursor') %> <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="add"
            >
                <h1 class="title">Add Project</h1>
                <form id="edit-form">
                    <div class="form-group">
                        <label for="input-project-image">Project Image</label>
                        <input
                            id="input-project-image"
                            type="url"
                            name="image"
                            value="https://source.unsplash.com/WLUHO9A_xik/1600x900"
                            required
                            class="form-control edit-inputs"
                        />
                        <img
                            src="https://source.unsplash.com/WLUHO9A_xik/1600x900"
                            id="edit-project-image"
                            alt=""
                        />
                    </div>
                    <div class="form-group">
                        <label for="input-project-title">Project Title</label>
                        <input
                            id="input-project-title"
                            type="text"
                            placeholder="ex. Anamoly Detection System"
                            name="title"
                            required
                            class="form-control edit-inputs"
                        />
                    </div>
                    <div class="form-group">
                        <label for="input-project-about"
                            >Project Description</label
                        >
                        <textarea
                            id="input-project-about"
                            class="form-control edit-inputs"
                            name="about"
                            rows="5"
                            required
                            placeholder="ex. This project is used to help detect malaria."
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-project-link">Project Link</label>
                        <input
                            id="input-project-link"
                            type="url"
                            placeholder="ex. https://google.com"
                            name="link"
                            required
                            class="form-control edit-inputs"
                        />
                    </div>
                    <div class="form-group">
                        <label for="input-project-tech">
                            Project Technologies
                        </label>
                        <input
                            id="input-project-tech"
                            type="text"
                            placeholder="ex. cplusplus, python"
                            name="tech"
                            class="form-control edit-inputs"
                        />
                    </div>
                    <div class="form-group button-update-container">
                        <button
                            id="button-update"
                            class="btn-theme"
                            data-content="Add"
                            type="submit"
                        >
                            Add
                        </button>
                    </div>
                    <svg id="loader" width="30" height="30">
                        <circle
                            class="loader-circle"
                            cx="15"
                            cy="15"
                            r="10"
                            fill="none"
                            stroke="#70c542"
                            stroke-linecap="round"
                            stroke-width="2"
                        />
                    </svg>
                    <div class="error">
                        <p></p>
                    </div>
                    <div class="success">
                        <p></p>
                    </div>
                </form>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
