<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body data-barba="wrapper">
        <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="home"
            >
                <div class="content-head">
                    <div id="divyansh-image-container">
                        <img src="/images/divyansh2.jpg" alt="" />
                    </div>
                    <h1 class="name" id="first-name">
                        <span>D</span>
                        <span>I</span>
                        <span>V</span>
                        <span>Y</span>
                        <span>A</span>
                        <span>N</span>
                        <span>S</span>
                        <span>H</span>
                    </h1>
                    <h1 class="name" id="last-name">
                        <span>F</span>
                        <span>A</span>
                        <span>L</span>
                        <span>O</span>
                        <span>D</span>
                        <span>I</span>
                        <span>Y</span>
                        <span>A</span>
                    </h1>
                </div>
                <div class="details-container">
                    <div class="details-inner-container">
                        <h4 class="heading">WHO AM I</h4>
                        <div class="inner-container outline-bottom">
                            <h5 class="sub-heading">ROLES</h5>
                            <div class="field-container">
                                <div class="roles-container">
                                    <h6 id="roles"></h6>
                                    <p id="cursor"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details-inner-container">
                        <h4 class="heading">SKILLS</h4>
                        <div class="inner-container skills-container">
                            <% for( let i = 0; i < skills.length; i++ ) { %>
                            <div class="tooltip-container">
                                <i class="<%= skills[i] %> colored"> </i>
                                <span class="tooltip-text">
                                    <%= skills[i].split('-')[1] %>
                                </span>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="details-inner-container outline">
                        <h4 class="heading">EDUCATION</h4>
                        <div class="inner-container">
                            <h5 class="sub-heading">Current</h5>
                            <div class="field-container">
                                <div class="field">
                                    <h6 class="field-heading">
                                        School/College
                                    </h6>
                                    <h6 class="field-content">
                                        Indian Institute of Information
                                        Technology, Gwalior
                                    </h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">Degree</h6>
                                    <h6 class="field-content">
                                        Bachelor of Technology in Computer
                                        Science and Engineering
                                    </h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">Year</h6>
                                    <h6 class="field-content">2019 - 2023</h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">CGPA</h6>
                                    <h6 class="field-content">7.4 / 10</h6>
                                </div>
                            </div>
                        </div>
                        <div class="inner-container">
                            <h5 class="sub-heading">Past</h5>
                            <div class="field-container">
                                <div class="field">
                                    <h6 class="field-heading">
                                        School/College
                                    </h6>
                                    <h6 class="field-content">
                                        Fatima Convent Higher Secondary School,
                                        Nagda
                                    </h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">Core Subjects</h6>
                                    <h6 class="field-content">
                                        Maths, Physics, Chemistry
                                    </h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">Year</h6>
                                    <h6 class="field-content">2005 - 2018</h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">
                                        XII Percentage
                                    </h6>
                                    <h6 class="field-content">85.5 %</h6>
                                </div>
                            </div>
                        </div>
                        <div class="inner-container">
                            <h5 class="sub-heading">Past</h5>
                            <div class="field-container">
                                <div class="field">
                                    <h6 class="field-heading">Misc</h6>
                                    <h6 class="field-content">
                                        Preparation for JEE Mains and JEE
                                        Advanced
                                    </h6>
                                </div>
                                <div class="field">
                                    <h6 class="field-heading">Year</h6>
                                    <h6 class="field-content">2018 - 2019</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./partials/contact') %>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
