<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body data-barba="wrapper">
        <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="home"
            >
                <div class="content-head">
                    <div id="divyansh-image-container">
                        <!-- <canvas id="image-canvas"> </canvas> -->
                        <img src="/images/divyansh.png" alt="" />
                    </div>
                    <h1 class="name" id="first-name">
                        <span>D</span>
                        <span>I</span>
                        <span>V</span>
                        <span>Y</span>
                        <span>A</span>
                        <span>N</span>
                        <span>S</span>
                        <span>H</span>
                    </h1>
                    <h1 class="name" id="last-name">
                        <span>F</span>
                        <span>A</span>
                        <span>L</span>
                        <span>O</span>
                        <span>D</span>
                        <span>I</span>
                        <span>Y</span>
                        <span>A</span>
                    </h1>
                </div>
                <div class="about">
                    <h4>About me</h4>
                    <p>
                        I am a <span>3rd year student</span> currently pursuing
                        a
                        <span style="color: goldenrod">
                            Bachelors in Computer Science and Engineering
                        </span>
                        from
                        <span style="color: rgb(255, 240, 152)">
                            ABV Indian Institute of Information Technology,
                            Gwalior.
                        </span>
                    </p>
                    <p>
                        I am really passionate about <span>technology</span> and
                        have invested much of my time understanding and working
                        with <span>Web</span> and <span>Android</span>.
                    </p>
                </div>
                <div class="head-to-projects">
                    <p style="text-align: center">
                        Don't believe me? Head over
                        <a href="/work">here</a> to find out more.
                    </p>
                </div>
                <%- include('./partials/contact') %>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
