<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <h1 class="title">Admin, huh?</h1>
                <form
                    class="form-group"
                    action="/auth"
                    method="POST"
                    enctype="application/json"
                >
                    <input
                        type="email"
                        placeholder="Admin Email"
                        name="email"
                        required
                        class="form-control"
                    />
                    <button
                        class="btn-theme"
                        data-content="Validate"
                        type="submit"
                    >
                        Validate
                    </button>
                </form>
                <div class="error">
                    <p><%= error %></p>
                </div>
                <div class="success">
                    <p><%= success %></p>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
