<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="login"
            >
                <% if (admin) { %>
                <button
                    id="logout-button"
                    class="btn-theme"
                    data-content="Logout"
                >
                    Logout
                </button>
                <% } else{ %>
                <h1 class="title">Admin, huh?</h1>
                <form class="form-group" id="auth-form">
                    <input
                        id="admin-email"
                        type="email"
                        placeholder="Admin Email"
                        name="email"
                        required
                        class="form-control"
                    />
                    <input
                        id="admin-pass"
                        type="password"
                        placeholder="Admin Secret"
                        name="secret"
                        required
                        class="form-control"
                    />
                    <button
                        id="button-login"
                        class="btn-theme"
                        data-content="Validate"
                        type="submit"
                    >
                        Validate
                    </button>
                    <svg id="loader" width="30" height="30">
                        <circle
                            class="loader-circle"
                            cx="15"
                            cy="15"
                            r="10"
                            fill="none"
                            stroke="#70c542"
                            stroke-linecap="round"
                            stroke-width="2"
                        />
                    </svg>
                </form>
                <div class="error">
                    <p><%= error %></p>
                </div>
                <div class="success">
                    <p><%= success %></p>
                </div>
                <% } %>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
