<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <div class="projects-container">
                    <% for( let i = 0; i < projects.length; i++ ) { %>
                    <div class="project">
                        <a href="/work/<%= projects[i]._id %>">
                            <img
                                class="project-image"
                                src="<%= projects[i].image %>"
                                alt="<%= projects[i].title %>"
                            />
                        </a>
                        <div class="project-details">
                            <h4><%= projects[i].title %></h4>
                        </div>
                    </div>
                    <% } %> <% if (admin) { %>
                    <a href="/work/add" class="btn btn-fab">
                        <i class="fas fa-plus"></i>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
