<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <%- include('./partials/cursor') %> <%- include('./partials/loader') %>
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <div class="projects-container">
                    <% for( let i = 0; i < projects.length; i++ ) { %>
                    <div class="project">
                        <a
                            class="project-image-container"
                            href="/work/<%= projects[i]._id %>"
                        >
                            <svg
                                class="image-load-anim"
                                style="pointer-events: none"
                                width="180"
                                height="180"
                            >
                                <circle fill="green" cx="30" cy="90" r="10" />
                                <circle fill="yellow" cx="85" cy="90" r="10" />
                                <circle fill="blue" cx="140" cy="90" r="10" />
                            </svg>
                            <img
                                class="project-image"
                                src="<%= projects[i].image %>"
                                alt="<%= projects[i].title %>"
                            />
                        </a>
                        <div class="project-details">
                            <h4><%= projects[i].title %></h4>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div>
                    <p style="color: grey">
                        The list of projects/work here may not have been
                        updated. To view all my projects, visit my
                        <a
                            target="_blank"
                            href="https://github.com/DivyanshFalodiya"
                            >Github</a
                        >
                    </p>
                </div>
                <% if (admin) { %>
                <a href="/work/add" class="btn btn-fab">
                    <i class="fas fa-plus"></i>
                </a>
                <% } %> <%-include('./partials/contact') %>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
